@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

:root{
    --corx: #C2E9D5;
    --cor0: #82DFAF;
    --cor1: #38D98A;
    --cor2: #2BA76B;
    --cor3: #125931;
    --cor4: #164F33;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-idroid: "Idroid", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    text-align: justify;
    background-color: var(--cor0);
    margin: auto;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 150px;
    padding-top: 30px;
    text-shadow: 1px 2px #000000;
    text-align: center;
    color: white;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

nav{
    text-align: left;
    text-shadow: none;
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    color: var(--corx);
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 850px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.202);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1, h2{
    font-family: var(--fonte-idroid);
    color: var(--cor3);
}

main p{
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main a:hover{
    text-decoration: underline;
}

p > a::after{
    content: '\1F517'; /*emoji link*/
}

main strong{
    color: var(--cor3);
    font-weight: bold;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor3);
}

h2{
    background-image: linear-gradient(to right, var(--corx), transparent);
    font-size: 1.3em;
    padding-left: 10px;
}

div.video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%; /*de acordo com o tamanho do vídeo para sumir com as barras laterais pretas*/
    position: relative; /*div video sempre: relative*/
}

div.video > iframe{
    position: absolute; /*div iframe sempre: absolute*/
    top: 5%;
    left: 5%;
    width: 90%; /*pode ser 100% se não quiser bordas em volta*/
    height: 90%; /*pode ser 100% se não quiser bordas em volta*/
}

aside{
    background-color: var(--corx);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(20, 20, 20, 0.202);
}

aside > h3{
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    text-align: center;
    background-color: var(--cor4);
    color: white;
    padding: 5px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}